
.square-option {
  cursor: pointer;
  margin-right: 1em;
  margin-bottom: .2em;
  height: 110px !important;
  width: 110px !important;
  display: inline-block;
  position: relative;
}

.square-option .main-ico, .square-option .undertext, .square-option .checked-icon {
  transition: all 1s color;
  position: absolute !important;
}

.square-option.checked .main-ico, .square-option:hover .main-ico, .square-option.checked .undertext, .square-option:hover .undertext {
  color: #29abe2;
  fill: #29abe2 !important;
  transition: color .5s ease;
}

.square-option .undertext {
  display: block;
  font-weight: 400;
  text-align: center;
  font-size: 11px;
  width: 100%;
  bottom: 1em;
  transition: transform .3s ease;
}

.square-option.checked .undertext, .square-option:hover .undertext {
  transform: scale(1.1);
  transition: transform .3s ease;
}

.square-option .main-ico {
  top: 20px;
  left: 0;
  right: 0;
  width: 48px !important;
  height: 48px !important;
  font-size: 42px !important;
  text-align: center;
  //font-size: 3em;
  transition: font-size .3s ease, transform .3s ease;
}

.square-option.checked .main-ico, .square-option:hover .main-ico {
  transform: scale(1.3);
  color: rgb(37, 170, 225) !important;
  transition: font-size .3s ease, transform .3s ease;
}

.square-option .checked-icon {
  display: none;
  height: 25px;
  width: 25px;
  color: white;
  background: #29abe2;
  border-radius: 50%;
  right: -11px;
  top: -11px;
}

.square-option.checked .checked-icon {
  display: block;
}

.checked-icon .check {
  width: 20px !important;
  height: 20px !important;
  fill: white !important;
  top: 2px;
  left: 3px;
}

//----------
.box {
  width: 101px;
  height: 101px;
  position: relative;
  background: rgba(255, 255, 255, 1);
  display: inline-block;
  margin: 0 19px 7px 0;
  cursor: pointer;
  color: #2c3e50;
  -webkit-transition: background 0.4s 0.5s;
}

.box svg {
  position: absolute;
  top: 0;
  left: 0;
}

.box svg line {
  stroke-width: 4;
  stroke: #9e9e9e;
  opacity: 0.5;
  fill: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.square-option.checked svg line, .box:hover svg line {
  stroke: #29abe2;
  opacity: 1;
}

.square-option.checked svg line, .box:hover svg line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.box svg line.top, .box svg line.bottom {
  stroke-dasharray: 20 20;
}

.box svg line.left, .box svg line.right {
  stroke-dasharray: 20 20;
}

.box.checked svg line.top, .box:hover svg line.top, .box.checked svg line.bottom, .box:hover svg line.bottom {
  stroke-dasharray: 330 240;
}

.box.checked svg line.left, .box:hover svg line.left, .box.checked svg line.right, .box:hover svg line.right {
  stroke-dasharray: 490 400;
}

.square-option.checked svg line.top, .box:hover svg line.top {
  -webkit-transform: translateX(-600px);
  transform: translateX(-600px);
}

.square-option.checked svg line.bottom, .box:hover svg line.bottom {
  -webkit-transform: translateX(600px);
  transform: translateX(600px);
}

.square-option.checked svg line.left, .box:hover svg line.left {
  -webkit-transform: translateY(920px);
  transform: translateY(920px);
}

.square-option.checked svg line.right, .box:hover svg line.right {
  -webkit-transform: translateY(-920px);
  transform: translateY(-920px);
}

.stepper-menu-item > span {
  display: flex;
}

.dashed-input, .dashed-input:focus {
  width: 100%;
  font-size: 3rem !important;
  padding: .3em .3em !important;
  box-shadow: none !important;
  border: 2px dashed #CFCFD0 !important;
}

textarea.dashed-input, textarea.dashed-input:focus {
  font-size: inherit !important;
}

.create-project-stepper {
  display: flex !important;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.round-portrait {
  color: #D1D2D3;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: solid 2px #D1D2D3;
  display: block;
  text-align: center;
  -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
  transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
}

.round-portrait.dashed {
  border: dashed 2px #D1D2D3;
  z-index: 0;
}

.round-portrait.dashed:hover, .colorpicker:hover .round-portrait.dashed {
  color: #29abe2;
  border: solid 2px #29abe2;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
}

.ul-nav a:hover .round-portrait {
  border-color: #29abe2;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
}

.plus-block {
  .round-portrait {
    padding-top: 2px;
    svg {
      cursor: pointer;
      fill: #D1D2D3 !important;
    }
  }
  .round-portrait:hover {
    svg {
      fill: #29abe2 !important;
    }
  }
}

.inline-block {
  display: inline-block;
}

.human-name {
  color: #000000;
  font-size: 15px;
  font-weight: 400
}

.human-role {
  color: #808184;
  font-size: 11px;
  font-weight: 400;
}

.human-role, .human-name {
  display: block;
}

.face-block, .plus-block, .human-block {
  display: inline-block;
}

.face-block {
  position: relative;
  top: 4px;
}

.lead-human {
  line-height: 16px;
}

.human-block {
  position: relative;
  bottom: 7px;
  margin: 0 11px 0 3px;
}

.dashed-colorpicker {
  //min-width: 150px;
  //max-width: 136px;
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
  float: left;
  //margin-right: 10px;

}

.colorpicker {
  position: relative;
  height: 136px !important;
  padding: 6px;
  width: 100% !important;
  background: white;
  outline: none;
  cursor: pointer;
}

input.colorpicker {
  display: inline-block;
  box-sizing: border-box !important;
  margin: 0;
  color: transparent;
}

input.colorpicker:hover {
  color: transparent;
}

div.colorpicker.dropdown {
  width: auto !important;
}

.colorpicker.dash {
  border: 2px dashed #CFCFD0;
}

.colorpicker-container {
  position: relative;
}

.colorpicker-container span {
  position: absolute;
  color: white;
  text-align: center;
  display: block;
  width: 100%;
  top: 56px;
  z-index: 100;
}

.hex-container {
  border: 2px dashed #CFCFD0;
  border-top: none;
  color: #CFCFD0;
  text-align: center;
}

.colorpicker .round-portrait.dashed {
  margin: 0 auto;
  top: 2.7em;
  position: relative;
  transition: transform .3s ease;
  transition: transform .3s ease, color .3s ease;
  > svg {
    fill: #CFCFD0 !important;
    top: 2px;
    left: 2px;
  }
}

.colorpicker:hover .round-portrait.dashed {
  color: #29abe2;
  transform: scale(1.3);
  transition: transform .3s ease, color .3s ease;
  > svg {
    fill: #29abe2 !important;
  }
}

.colorpicker:hover {
  color: #29abe2;
}

.colorpicker .file-picker {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.colorpicker.hover .round-portrait.dashed {
  display: none;
}

.colorpicker.hover:hover {
  background: lightgray;
}

.colorpicker.hover:hover .round-portrait.dashed {
  display: block;
}

.colorpicker.hover:hover .round-portrait.dashed:after {
  top: 38px;
  content: 'Delete file';
  left: -19px;
  position: absolute;
  white-space: nowrap;
}

.add-color {
  border: 3px dashed lightgrey;
  height: 136px;
}

.add-color:hover {
  border: 3px dashed #29abe2;
}

.nav-check {
  border: 1px solid #29abe2;
  border-radius: 50%;
  margin: 10px;
  width: 30px;
  height: 30px;
  fill: #29abe2;
}

.file-preview {
  .file-remove-backdrop {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 18px;
    position: absolute;
    z-index: 10;
    text-align: center;
    display: none;
    cursor: pointer;
    color: red;
    > div {
      position: relative;
      z-index: 11;
      top: 40%;
    }
  }
}

.file-preview:hover {
  .file-remove-backdrop {
    display: block;
  }
}

.create-project-progress-bar {
  overflow: visible !important;
  > div {
    background-color: #39b54a !important;
  }
}

.create-project-end {
  position: relative;
  top: 10%;
  width: 40% !important;
  margin: 0 auto !important;
  .create-project-progress-bar-end {
    height: 4px !important;
    background-color: #f4f5f7 !important;
    > div {
      background-color: #29abe2 !important;
    }
  }
}
