.loginBtnIcon {
}

.login-header-text {
  font-size: 82px;
  font-weight: 300 !important;
  font-family: 'Myriad Pro Cond', sans-serif;
}

.login-small-header-text {
  font-weight: 300 !important;
}

@media only screen and (max-width: 767px) {
  .login-header-text {
    font-size: 60px;
  }
  .login-small-header-text {
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .login-header-text {
    font-size: 40px;
  }
  .login-small-header-text {
    font-size: 18px;
  }
}

