.top-navbar {
  background-color: white;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .responsive-logo {
    height: 100%;
  }
  .top-navbar {
    padding-top: 20px;
  }
}

.top-navbar-nav {
  position: absolute;
  right: 0;
  bottom: 5px;
  text-align: center;
  > li > a {
    padding: 0 0 0 15px;
    background-color: transparent !important;
  }
}

@media only screen and (max-width: 767px) {
  .top-navbar-nav {
    position: relative;
    bottom: 0;
  }
  .responsive-logo {
    a img {
      height: 100%;
    }
  }
}

.avatar {
  border: 2px solid #ddd;
}

.avatar:hover,
.active .avatar {
  border: 2px solid #29abe2;
}

.tooltip.top {
  .tooltip-arrow {
    border-top-color: #29abe2;
  }
  .tooltip-inner {
    background-color: #29abe2;
  }
}