.project-item {
  .project-item-bar {
    display: none;
  }
  .glyphicon{
    line-height: normal;
  }
}

.project-item:hover,
.project-item:focus {
  .project-item-bar {
    display: block;
  }
}

.project-shortcuts {
  .pshead {
    font-size: 1.1rem;
  }
  .psvalue {
    font-size: 1.4rem;
    font-weight: 300;
  }
}