
.inner-nav-item {
  color: #CECECE;
  background-color: #808184;
  height: 85px;
  /*max-width: 85px;*/
  border-bottom: 2px solid white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon {
    display: none !important;
    opacity: 0.8;
    /*width: 50px !important;
    height: 50px !important;
    fill: #CECECE !important;*/
  }
}

.inner-nav-item:hover {
  .icon {
    display: block !important;
  }
  .text {
    display: none;
  }
}

.inner-nav-item.active {
  color: white !important;
  background-color: #29abe2;
  .icon {
    opacity: 1;
  }
}