@import "bootstrap";
@import "font-awesome.min.css";
@import "animate.min.css";
@import "components/navigation";
@import "components/loginPage";
@import "components/accountPage";
@import "components/projectsListPage";
@import "components/createProjectPage";
@import "components/projectPage";

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/Myriad-Pro_31655.ttf');
  //src: url('../fonts/Myriad-Pro-Light_31642.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  //src: url('../fonts/Myriad-Pro_31655.ttf');
  src: url('../fonts/Myriad-Pro-Light_31642.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Myriad Pro Cond';
  src: url('../fonts/Myriad-Pro-Condensed_31633.ttf');
  //src: url('../fonts/Myriad-Pro-Light-Condensed_31636.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Cond';
  //src: url('../fonts/Myriad-Pro-Condensed_31633.ttf');
  src: url('../fonts/Myriad-Pro-Light-Condensed_31636.ttf');
  font-style: normal;
  font-weight: 300;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  background-color: transparent !important;
}

html {
  height: 100%;
  background-color: #F5F6F8;
  font-size: 100%;
  color: #414042 !important;
  h1, h2, h3, h4, h5 {
    font-weight: 300;
  }
  /*display: flex;
  body {
    display: inherit;
    flex: 1;
    flex-direction: column;
    > div {
      display: inherit;
      flex: 1;
      > div {
        display: inherit;
        flex: 1;
        > div.container-fluid {
          display: inherit;
          flex: 1;
          flex-direction: column;
        }
      }
    }
  }*/
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 542px) {
  html {
    font-size: 70%;
  }
}

body {
  background-color: inherit;
  div {
    font-family: 'Myriad Pro', sans-serif;
  }

}

.public-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  z-index: 10000;
  img {
    top: 50%;
    left: 50%;
    width: 50px;
    position: fixed;
  }
}

.flip-image {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.text-notification {
  font-size: 1.4rem;
  font-weight: 300;
}